* {
    padding: 0;
    margin: 0;
}

body {
    background-color: cornsilk;
}

.article {
    max-width: 680px;
    font-family: arial,sans-serif;
    padding: 24px;
    text-align: left;
    margin: 0 auto;
}

.article__heading {
    margin-bottom: 1.5rem;
    color: palevioletred;
}

.article__lead {
    font: italic 700 1rem serif;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.article__figure{
    margin-top: 1rem
}

.figure__caption {
    margin-top: 0.5rem;
    font-style: italic;
    text-align: center;
}
